@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products,
.team,
.reports {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(12rem,16rem));
  gap: 2rem;
  justify-content: center;
  font-size: 2rem;
  background-color: lightgrey;
}

.card{
  overflow: hidden;
  box-shadow: 0 2px 20px lightgrey;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.cardBody{
  font-family: 'Lato', sans-serif;
  margin: 2rem;

}

.cardImage{
  height: 2rem;
  width: 50%;
  object-fit: cover;
}

.cardDescrip{
  padding: 0 1rem;
  font-family: inherit;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cardButton{
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: darkgrey;
  color: black;
  transition: background 200ms ease-in, color 200ms ease-in;
}

:hover{
  transform: scale(1.02);
}

.cardButton:hover{
    background: black;
    color: white;
}

.container{
    padding: 2rem;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.icon{
   padding: 1rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
   border-radius: 8px;
   margin-top: 1rem; 
}

.formStyle{
    width: 100%;
}

.formgroup{
    width: 100%;
    margin-bottom: 2rem;
}

label{
    font-size: 1.2rem;
}

input{
    width: 100%;
    font-size: 1rem;
    padding: 1.2rem;
    color: black;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
}

textarea{
    min-height:250px;
    resize: vertical;
}

button[type='submit']{
    background-color: darkgrey;
    color: black;
    font-size: 2rem;
    display: inline-block;
    outline: none;
    border: none;
    padding: 1rem 4rem;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: black;
    color: white;   
}

.wrapper{
    display: flex;
    gap: 5rem;
    margin-top: 7rem;
    justify-content: space-between;
    position: relative;
}

.wrapper::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 50%;
    background-color: darkgrey;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.left{
    width: 100%;
    max-width: 500px;
}

.right{
    width: 100%;
    max-width: 500px;
}

@media only screen and (max-width:768px){
    .wrapper{
        flex-direction: column;
    } 
    .wrapper::after{
        display: none;
    }
    .left,
    .right{
        max-width: 100%;
    }
}
